<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Product page
body
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur corporis, atque accusantium minus rerum temporibus id itaque nihil voluptate in, eveniet sunt facere asperiores repellat, fugit. Vel minus debitis culpa!